.mid {
    /* Positioning */
    position: absolute;
    left: 0%;
    right: 0%;
    margin: auto;

    /* Display & Box Model */
    max-width: 800px;
    border: 25px;
    border-radius: 25px;
    padding: 15px;
    align-content: center;
    align-self: center;

    /* Other */
    font-family: Georgia;
    text-align: center;
    /*background-color: #2e3b4b;*/
}

.button {
    /* Positioning */
    width: 200px;
    margin: 20px auto;

    /* Display & Box Model */
    padding: 20px;
    border: 2px solid #5D6063;
    border-radius: 5px;

    /* Other */
    color: #FFF;
    background-color: #5995DA;
    font-weight: bold;
    text-align: center;
}

.button:hover {
    background-color: #20B0F6;
}

.textBox {
    color: black;
    font-weight: bold;
    border: 2px solid #5D6063;
    border-radius: 5px;
    margin: 5px;
    padding: 2px;
}

.option {
    color: black;
    font-weight: bold;
    border-radius: 100%;
    background-color: greenyellow;
}

.actors {}

.actor {
    /* Positioning */
    width: auto;
    margin: 20px auto;

    /* Display & Box Model */
    padding: 10px;
    border: 2px solid #2E3B4B;
    border-radius: 5px;
    margin: 10px;

    /* Other */
    color: #FFF;
    background-color: #2E3B4B;
    font-weight: bold;
    text-align: center;
}

.actor h1 {
    font-family: monospace;
    color: #20B0F6;
    font-weight: bold;
}

.actor h2 {
    font-family: monospace;
    color: #2E3B4B;
    visibility: none;
}

.actor h2:hover {
    font-family: monospace;
    color: #47639E;
    visibility: visible;
}



.actor h3 {
    font-family: monospace;
    color: white;

}
